# Virtual environments
.venv/
venv/

# Python cache and temporary files
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp

# Processed or temporary data files
data/processed/
!data/processed/.gitkeep

# Raw input files (PDFs)
data/raw/
!data/raw/.gitkeep

# Exported Garmin workouts
workouts/zwo/
!workouts/zwo/.gitkeep

# Jupyter checkpoints
.ipynb_checkpoints/

# VSCode project settings
.vscode/

# OS system files
.DS_Store
Thumbs.db

# Local editor swap files
*.swp
*.swo
